*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container{
    width: 75%;
    margin: 0 auto;
}

/*header*/


header{
    width: 100%;
    background-color: #ff6900 ;
    height: 90px;
    color: white;
    padding-top: 20px;
    position: fixed;
}

header img{
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.icon{
    text-align: right;
}

/*main*/
main{
    padding-top: 200px;
}


/*attribute*/

header .row{
    display: flex;
    justify-content:space-between;
}

.col-33{
    width: calc(100%/3);
    margin: 10px;
    margin-bottom: 100px;
}

.content{
    width: 100%;
}

main .row{
    display: flex;
}

.content img{
    width: 100%;
}